<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Town</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
      <h1>Welcome to burger town!</h1>
      <br />
      <br />
      <section>
      <h2>Which burger to devour?</h2>
      <p> Please select a burger: </p>
      <h3> The Fire Burger </h3>
      <img src=https://images.hdqwalls.com/download/hot-spicy-burger-ys-1920x1200.jpg alt="Fire Burger" title="Burger 1" width="200">
    </section>
      <br />
      <section>
      <h2>Contact information</h2>
      <p> This is where you provide neccessary information </p>
    </section>
    <footer>
      daniel
    </footer>
    </body>
    </main>
</html>
