<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Town</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
      <h1>Welcome to burger town!</h1>
      <br />
      <br />
      <section>
      <h2>Which burger to devour?</h2>
      <p> Please select a burger: </p>
      <table>
        <thead>
          <tr>
            <th>The Fire Burger</th>
            <th>The Hej Burger</th>
            <th>The über burger</th>
          </tr>
        </thead>
        <tbody>
          <!-- Fire burger information -->
          <tr>
            <td>
      <img src=https://images.hdqwalls.com/download/hot-spicy-burger-ys-1920x1200.jpg alt="Fire Burger" title="Burger 1" width="250">
    </td>
    <td>
      <img src=https://pbs.twimg.com/profile_images/890904165144289284/OTkgAVex_400x400.jpg alt="Happy Happy burger" title="happy burger" width="250">
    </td>
    <td>
      <img src=https://i.pinimg.com/736x/1f/a6/7a/1fa67a99e05e981f6288653102cd40a9.jpg alt="Mega burger" title="very big burger" width="250">
    </td>
  </tr>
  <tr>
  <td>
      <ul>
        <li> May cause side effects</li>
        <li> Not advised to eat on a date</li>
      </ul>
    </td>
    <td>
      <ul>
        <li> Will cheer you up on a sad day</li>
        <li> Too cute to actually eat</li>
        <li> WIll sing you a song on your birthday</li>
      </td>
      <td>
        <ul>
          <li> Cheat meal godsent</li>
          <li> Questionable cheese</li>
          <li> May cause anxiety after consumption</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
    </section>
      <br />
      <section>
      <h2>Contact information</h2>
      <p> This is where you provide neccessary information </p> <br />
      <h3>Delivery information</h3>
      <p>
        <label for="fullname">Full name</label><br>
        <input type="text" id="fullname" name="fn" required="required" placeholder="First and last name" />
      </p>
      <p>
        <label for="email">E-mail</label><br>
        <input type="text" id="email" name="mail" required="required" placeholder="E-mail address"
      </p>
      <p>
        <label for="Street">Street</label><br>
        <input type="text" id="street" name="str" required="required" placeholder="Street name"
      </p>
      <p>
        <label for="House">House</label><br>
        <input type="number" id="house" name="haus" required="required" placeholder="House number"
      </p>
    </section>
    </body>
    </main>
</html>
