@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';


body {
    font-family: ariel;
    font-size: 15pt;
    
}
 

.fire_burger {
    font-weight: bold
}


#burger_section {
    background-color: black;
    color: white;
}

#delivery_section {

}
