@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';


body {
    font-family: ariel;
    font-size: 15pt;   
}

table {
    width: 75%;
    margin: 0 auto;
}
 

.fire_burger {
    font-weight: bold
}


#burger_section {
    background-color: black;
    color: white;
}

#delivery_section {

}

button:hover {
    background-color: pink;
    cursor:pointer;
}
